.content {
    overflow: hidden;
    border-style: none;
    margin: 0;
    font-size: 25px;
}

.content h1 {
    font-size: 1.5em;
    text-align: center;
}

.content h2 {
    font-size: 1.25em;
    text-align: center;
}

.content p {
    margin: 5%;
    font-size: 0.75em;
}

.content ul {
    font-size: 0.75em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    list-style-type: square;
}

.content li {
    margin: 8px;
}

.button_thing {
    border: 3px solid black;
    color: black;
    background-color: cornsilk;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Jetbrain, serif;
    font-weight: 700;
    padding: 15px 21px;
    display: flex;
    border-radius: 36px;
    margin: auto auto 75px auto;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    align-items: center;
}

.button_thing:hover {
    transform: translate(-2px, -3px);
    box-shadow: black 2px 3px 4px;
    cursor: inherit;
}

.button_thing:active {
    transform: translate(2px, 3px);
    box-shadow: none;
}

a {
    color: darkblue;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.project {
    margin: 20px auto 20px auto;
    width: 50%;
    border: 4px groove;
    align-items: center;
}

.project h3 {
    font-size: 2em;
    text-align: center;
}

.project p {
    padding: 0 10px 20px 10px;
    text-align: center;
}


