.content {
    overflow: hidden;
    border-style: none;
    margin: 0;
    font-size: 25px;
}

.content h1 {
    font-size: 1.5em;
    text-align: center;
}

.content h2 {
    font-size: 1.25em;
    text-align: center;
}

.content p {
    margin: 5%;
    font-size: 0.75em;
}

.content ul {
    font-size: 0.75em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    list-style-type: square;
}

.content li {
    margin: 8px;
}

.button_thing {
    border: 3px solid transparent;
    color: black;
    background-color: cornsilk;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Jetbrain, serif;
    font-weight: 700;
    padding: 10px 21px;
    display: block;
    border-radius: 36px;
    margin: auto;
}

.button_thing:hover {
    border: 3px solid black;
    box-shadow: black 2px 3px 4px;
    cursor: inherit;
}

.button_thing:active {
    transform: translate(2px, 3px);
    box-shadow: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


