.navi {
    overflow: hidden;
    background: black;
    margin: auto;
}
.navi a {
    width: 20%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    text-decoration: none;
}
.navi a:hover {
    background-color: chocolate;
    color: white;
}
