.navi {
    overflow: hidden;
    background: black;
    margin: auto;
}
.navi a {
    width: 25%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}
.navi a:hover {
    background-color: chocolate;
}
